<div class="login-box">
  <div class="grid-x">
    <div class="cell small-6 large-auto">
      <div class="login-box-form-section">
        <h2 class="login-box-title">Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <%= f.submit "Log in", class: "login-box-submit-button"%>
        <% end %>
      </div>
      <div class="or"><i class="fas fa-pencil-alt"></i></div>
    </div>

    <div class="cell small-6 large-auto login-box-social-section">
      <div class="translucent-form-overlay">
        <div class="login-box-social-section-inner middle">
          <span class="login-box-social-headline">Log in with<br />your social network</span>
          <a class="login-box-social-button-facebook">Log in with facebook</a>
          <a class="login-box-social-button-twitter">Log in with Twitter</a>
          <a class="login-box-social-button-google">Log in with Google+</a>
        </div>
      </div>
    </div>
  </div>
</div>
